body{
  background: linear-gradient(103deg, rgba(126, 204, 187, 0.6) 0%, rgba(155, 151, 193, 0.6) 50%, rgba(204, 183, 126, 0.6) 100%);
}


h1, h2, h3, h4, h5 {
  font-family: $headers-font;
  font-weight: bold !important;
}

h1 {
  color: rgba(0, 0, 0, 0.9) !important;
  font-size: 37px !important;
  font-weight: bold !important;

}

h4, label{
  color: rgba(0, 0, 0, 0.80) !important;
  font-size: 19px !important;
  font-weight: bold !important;
}

p, input[type="text"], textarea {
  font-family: $body-font;
  color: rgba(0, 0, 0, 0.75) !important;
  font-size: 15px !important;
  line-height: 23px;
  letter-spacing: 1px;
}
